<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1>
              {{ data?.title }}
              <span></span>
            </h1>
            <p>{{ data?.paragraph }}</p>
            <a href="https://vetmashinani-001-site1.qtempurl.com/farmer/login" class="btn btn-primary btn-lg mt-3">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
